@font-face {
    font-family: "Figtree";
    src:
        url("../fonts/Figtree-VariableFont_wght.ttf") format("truetype")
}

@font-face {
    font-family: "Anton";
    src:
        url("../fonts/Anton-Regular.ttf") format("truetype")
}